div #resultado{
	position: absolute;
	left: 57.13%;
	right: 20.31%;
	top: 22.29%;
	bottom: 22.14%;
	background: rgba(209, 220, 227, 0.18);
	border-radius: 4px;
}

label #resultadoTitulo{
	position: absolute;
	height: 20px;
	left: 60.55%;
	right: 28.03%;
	top: calc(50% - 20px/2 - 101px);
	font-family: Source Sans Pro;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #3D75BB !important;
}

hr {
	position: absolute;
	left: 60.55%;
	right: 23.73%;
	top: 37.57%;
	bottom: 62.14%;

	mix-blend-mode: normal;
	opacity: 0.3;
	border: 1px solid #5D9CEC;
}

div #resultadoTexto{
	position: absolute;
	height: 184px;
	left: 60.55%;
	right: 27.05%;
	top: calc(50% - 184px/2 + 20px);
	font-family: Source Sans Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 46px;

	color: #5D9CEC;
	
		/* or 287% */
}


