.container{
  display: inline;
}

.containerForm {
	position: absolute;
	width: 608px;
	height: 389px;
	left: 20.31%;
	right: 20.31%;
	top: 22.29%;
	bottom: 22.14%;
	background: #FFFFFF;
	border: 1px solid #D1DCE3;
	box-sizing: border-box;
	border-radius: 4px;
}

h1 {
	height: 30px;
	margin-left: 10.78%;
	margin-top: calc(30% - 30px/2 - 138px);
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	color: #656565;

}

label {
	position: absolute;
	margin-left: 10.78%;
	height: 18px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	
	color: #656565;
	
	/* identical to box height */
}

.labelValor{
	margin-top: calc(18% - 18px/2 - 92px);
}

.labelParcelas{
	margin-top: calc(18% - 18px/2 - 5px);
}

.labelPercentual{
	margin-top: calc(18% - 18px/2 + 99px);

}

input:focus { 
    outline: none !important;
    border-color: #5D9CEC;
    box-shadow: 0 0 1px #5D9CEC !important;
}

input{
	position: absolute;
	margin-left: 10.78%;
	height: 37px;
	width: 251px;
	background: #FFFFFF;
 	border: 1px solid #DDE6E9;
  	box-sizing: border-box;
  	border-radius: 4px;
}

.valor{
	margin-top: 5%;
}

.parcelas {
	margin-top: 19.5%;
}

.percentual{
	margin-top: 36.5%;
}

.parcelasObs{
	position: absolute;
	height: 14px;
	margin-left: 11.78%;
	margin-top: calc(18% - 14px/2 + 57px);
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	color: #CECECE;
	
	/* identical to box height */
}

/*Estilo do resultado*/

.containerResult{
	position: absolute;
	width: 231px;
	height: 389px;
	left: 48.5%;
	right: 20.31%;
	top: 22.29%;
	bottom: 22.14%;
	background: rgba(209, 220, 227, 0.18);
	border-radius: 4px;
}

.resultadoTitulo{
	height: 20px;
	margin-left: 15.55%;
	margin-top: calc(37% - 20px/2 - 101px);
	font-family: Source Sans Pro;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #3D75BB !important;
}

hr {
	margin-left: 15.55%;
	margin-right: 24.73%;
	margin-top: calc(93% - 20px/2 - 101px);
	mix-blend-mode: normal;
	opacity: 0.3;
	border: 0.1px solid #5D9CEC;
}

.resultText{
	height: 184px;
	margin-left: 15.55%;
	margin-top: calc(35% - 184px/2 + 20px);
	font-family: Source Sans Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 36px;

	color: #5D9CEC;
	
		/* or 287% */
}


